<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sasti WhatsApp</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1>Welcome to Sasti WhatsApp</h1>
    <h2>All Chat Messages</h2>
    <% for(let chat of chats){%>
    <div class="chat-container">
      <h3>From : <%= chat.from %></h3>
      <p>To : <%= chat.to %></p>
      <p>Message : <%= chat.message %></p>
      <p>Created At : <%= chat.created_at.toLocaleString() %></p>
    </div>
    <% } %>
  </body>
</html>

<!-- -------------------------------------------------------------------------------------- -->
<!--     <script>
      // Fetch chats from the server and display them
      fetch("./chats")
        .then((response) => response.json())
        .then((data) => {
          const chatList = document.getElementById("chat-list");
          data.chats.forEach((chat) => {
            const li = document.createElement("li");
            li.textContent = `${chat.from}: ${chat.message}`;
            chatList.appendChild(li);
          });
        })
        .catch((error) => console.error("Error fetching chats:", error));
    </script> -->
