<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Chat</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="container">
      <h1>New Chat</h1>
      <form action="/chats" method="POST">
        <label for="from">From:</label>
        <input type="text" id="from" name="from" required />
        <br />
        <label for="to">To:</label>
        <input type="text" id="to" name="to" required />
        <br />
        <label for="message">Message:</label>
        <textarea
          id="message"
          name="message"
          required
          rows="10"
          cols="45"
        ></textarea>
        <br />
        <button type="submit">Send</button>
      </form>
      <a href="/chats"><button type="button">Back to Chats</button></a>
    </div>
  </body>
</html>
