body {
  font-family: Arial, sans-serif;
  background-color: rgb(247, 247, 214);
  margin: 0;
  padding: 20px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  margin: 10px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h1 {
  text-align: center;
  color: green;
}
h2 {
  text-align: center;
  color: #333;
}
h3 {
  color: #555;
}
.chat-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
  color: #333;
  max-width: 600px;
}
.chat-container h3 {
  margin: 0;
  font-size: 1.2em;
}
.chat-container p {
  margin: 5px 0;
}
.chat-container .user {
  font-weight: bold;
}
.chat-container .message {
  margin-left: 20px;
}
.chat-container .timestamp {
  font-size: 0.8em;
  color: #999;
}
button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}
.button:hover {
  background-color: #45a049; /* Darker green */
}
.delete-button {
  background-color: #f44336; /* Red */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}
